@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* { font-family: 'Outfit', sans-serif; }
.font-playfair { font-family: 'Playfair', serif !important; }
